.lock {
   @media (max-width: 640px) {
      overflow: hidden;
   }
}
.container {
   max-width: 1400px;
   padding: 0 24px;
   margin: 0 auto;
}
.header {
   border-bottom: 1px solid rgba(255, 255, 255, 0.2);
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   z-index: 20;
   height: 85px;
   &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #070724;
      z-index: 3;
   }
   @media (max-width: 768px) {
      height: 140px;
   }
   @media (max-width: 640px) {
      height: 68px;
      &::before {
         height: 100%;
      }
   }
}
.headerInner {
   position: relative;
   text-transform: uppercase;
   height: 85px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   @media (max-width: 768px) {
      height: 100%;
      flex-direction: column;
   }
   @media (max-width: 640px) {
      flex-direction: row;
      align-items: center;
   }
}

.headerLogo {
   position: relative;
   z-index: 5;
   font-family: "Antonio";
   font-size: 28px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
   letter-spacing: -1.05px;
   @media (max-width: 767.98px) {
      display: flex;
      align-items: center;
      height: 70px;
   }
}
.menuBtn {
   display: none;
   width: 24px;
   height: 17px;
   // display: flex;
   flex-direction: column;
   justify-content: space-between;
   span {
      background-color: #fff;
      width: 100%;
      height: 3px;
   }
   @media (max-width: 640px) {
      position: relative;
      z-index: 5;
      display: flex;
   }
}
.menuBlock {
   height: 100%;
   // position: relative;
   // z-index: 5;
   @media (max-width: 768px) {
      height: 70px;
   }
   @media (max-width: 640px) {
      position: fixed;
      top: -100%;
      left: 0;
      width: 100%;
      height: 100%;
   }
}
.menuList {
   position: relative;
   z-index: 50;
   height: 100%;
   display: flex;
   gap: 33px;
   @media (max-width: 640px) {
      z-index: 10;
      background-color: #070724;
      flex-direction: column;
      align-items: center;
      gap: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      padding: 68px 24px 0;
      transition: all 0.3s ease 0s;
      // height: calc(100% - 68px);
      height: 100%;
   }
}
.menuListClose {
   @media (max-width: 640px) {
      transform: translate(0, 100%);
   }
}
.menuItem {
   cursor: pointer;
   display: flex;
   align-items: center;
   height: 100%;
   font-size: 11px;
   font-weight: 700;
   line-height: 25px;
   letter-spacing: 1px;
   position: relative;
   border-top: 4px solid transparent;
   color: rgba(255, 255, 255, 0.75);
   transition: border-top ease 0.3s;
   @media (hover: hover) and (pointer: fine) {
      &:hover {
         border-top: 4px solid #419ebb;
         color: rgba(255, 255, 255, 1);
      }
   }
   @media (max-width: 767.98px) {
      border-top: none;
      border-bottom: 4px solid transparent;
      transition: border-bottom ease 0.3s;
      &:hover {
         border-top: none;
         border-bottom: 4px solid #419ebb;
      }
   }
   @media (max-width: 640px) {
      width: 100%;
      font-size: 15px;
      letter-spacing: 1.364px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
      &:hover {
         border-bottom: 1px solid rgba(255, 255, 255, 0.2);
      }
   }
}
.menuLink {
   @media (max-width: 640px) {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      gap: 25px;
      position: relative;
      span {
         background-color: #fff;
         width: 20px;
         height: 20px;
         border-radius: 50%;
      }
      &::after {
         content: "";
         top: 50%;
         right: 0;
         width: 12px;
         height: 8px;
         transform: translate(0, -50%);
         position: absolute;
         background-image: url("../../assets/icon-chevron.svg");
         background-repeat: no-repeat;
      }
   }
}
